:root{
    --titles-color: #212121;
    --background-color: #FFF;
    --background-color: #2F303A;
    --background-color: #F5F4FA;
    --text-color: #757575;
    --button-color: #2196F3;
    --footertext-color: #ffffff99;
}

.header-logo{
    color: #000;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}


.header-massege{
    color: var(--titles-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-massege:hover{
    color: var(--button-color);
}

.header-link{
    color: var(--text-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
}

.header-link:hover{
    color: var(--button-color);
}

.hero{
    background-color: #2F303A;
}

.hero-title{
    color: var(--background-color);
    text-align: center;
    font-family: Roboto;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
}

.hero-btn{
    color: var(--background-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.96px;
}

.hero-btn{
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.pluses-subtitle{
    color: var(--titles-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.pluses-text{
    color: var(--text-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.work-subtitle{
    color: var(--titles-color);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}

.team{
    background-color: #F5F4FA;
}

.team-subtitle{
    color: var(--titles-color);
    text-align: center;
    font-family: Roboto;
    font-size: 36px;;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
}

.worker-subtitle{
    color: var(--titles-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
}

.worker-text{
    color: var(--text-color);
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
}

footer{
    background-color: #2F303A;
}

.footer-link{
    color: #FFF;
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.footer-adress{
    color: var(--background-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.footer-info{
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.footer-tel{
    color: rgba(255, 255, 255, 0.60);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}