:root{
    --titles-color: #212121;
    --background-color: #FFF;
    --backgroundtt-color: #2F303A;
    --backgroundbuttons-color: #F5F4FA;
    --text-color: #757575;
    --button-color: #2196F3;
    --footertext-color: #ffffff99;
    --logo-color: #000;
    --icon-color: #AFB1B8;
    --background-icon: #FFFFFF1A;
    --work-color: rgba(47, 48, 58, 0.8);
}

.container{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    outline: 1px solid red;
}

/* ================================= */

body{
    font-family: Roboto;
}

/* ================================= */

.header{
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-bucket{
    display: flex;
    align-items: baseline;
}

.header-web{
    color: var(--button-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.header-logo{
    color: var(--logo-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-right: 93px;
}

.header-items{
    display: flex;
    align-items: baseline;
    gap: 50px;
}

.header-element{
    position: relative;
}

.header-massege{
    color: var(--titles-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-massege::after{
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: var(--button-color);
    border-radius: 2px;
    position: absolute;
    left: 0;
    bottom: -30px;
    opacity: 0; 
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-massege:hover::after{
    opacity: 1;
}

.header-massege:hover{
    color: var(--button-color);
}

.header-list{
    display: flex;
    gap: 30px;
    margin-left: auto;
    align-items: center;
}

.header-icon{
    width: 16px;
    height: 12px;
    fill: var(--text-color); 
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon2{
    width: 10px;
    height: 16px;
    fill: var(--text-color);
}

.header-link{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.28px;
    display: flex;
    align-items: center;
    gap: 10px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover{
    color: var(--button-color);
    .header-icon{
        fill: var(--button-color);
    }
    .header-icon2{
        fill: var(--button-color);
    }
}

/* ================================= */

.hero{
    padding-top: 200px;
    padding-bottom: 200px;
    background-image:linear-gradient(rgba(47, 48, 58, 0.40), 
                                     rgba(47, 48, 58, 0.40)), 
                                       url(../images/hero.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-bucket{
    text-align: center;
}

.hero-title{
    color: var(--background-color);
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 2.64px;
    text-transform: uppercase;
    width: 696px;
    margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.hero-btn{
    color: var(--background-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.96px;
    border-radius: 4px;
    background: var(--button-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 32px 10px 32px;
    border: none;
}

/* ================================= */

.pluses{
    padding-top: 94px;
}

.pluses-list{
    display: flex;
    gap: 30px;
}

.pluses-item::before{
    content: "";
    display: block;
    margin-bottom: 30px;
    width: 270px;
    height: 120px;
    background: var(--backgroundbuttons-color);
    background-image: url(../images/antenna.png);
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 4px;
}

.pluses-item:nth-child(2)::before{
    background-image:  url(../images/clock.png);
}

.pluses-item:nth-child(3)::before{
    background-image:  url(../images/diagram.png);
}

.pluses-item:nth-child(4)::before{
    background-image:  url(../images/astronaut.png);
}

.pluses-subtitle{
    color: var(--titles-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.pluses-text{
    color: var(--text-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

/* ================================= */

.work{
    padding-top: 94px;
    padding-bottom: 94px;
}

.work-list{
    display: flex;
    gap: 30px;
}

.work-item{
    position: relative;
}

.work-text{
    color: var(--background-color);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    background-color: var(--work-color);
    width: 100%;
    padding: 27px 0 27px 0;
    position: absolute;
    top: 224px;
}

/* ============================================================ */

.worker-box{
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
                0px 2px 1px 0px rgba(0, 0, 0, 0.20);
}

.worker-box2{
    border-radius: 0px 0px 4px 4px;
}

.worker-box{
    border-radius: 0px 0px 4px 4px;
}

.work-subtitle{
    color: var(--titles-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 56px;
}

.work-img{
    width: 370px;
    height: 294px;
}

/* ================================= */

.team{
    background-color: var(--backgroundbuttons-color);
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-subtitle{
    color: var(--titles-color);
    text-align: center;
    font-size: 36px;;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

/* ================================= */

.worker-list{
    display: flex;
    gap: 30px;
}

.worker-box2{
    padding-top: 30px;
    padding-bottom: 30px;
    background: var(--background-color);
}

.worker-subtitle{
    color: var(--titles-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.48px;
    margin-bottom: 10px; 
}

.worker-text{
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
    letter-spacing: 0.48px;
}

.worker-items{
    display: flex;
    gap: 10px;
    margin-top: 16px;
    align-items: center;
    justify-content: center;
}

.worker-link{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition-property: fill, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.worker-link:hover{
    .worker-icon{
       fill: var(--background-color); 
    }
    background-color: var(--button-color);
}

.worker-icon{
    width: 20px;
    height: 20px;
    fill: var(--icon-color);
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.worker-img{
    width: 270px;
    height: 260px;
}

/* ======================================= */

.clients{
    margin-top: 94px;
    margin-bottom: 94px;
}

.clients-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients-subtitle{
    color: var(--titles-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}

.clients-list{
    display: flex;
    gap: 30px;
}

.clients-link:hover{
    .clients-icon{
        fill: var(--button-color);
        border: 1px solid var(--button-color);
    }
}

.clients-icon{
    border-radius: 4px;
    border: 1px solid var(--icon-color);
    width: 170px;
    height: 92px;
    padding: 16px 32px 16px 32px;
    fill: var(--icon-color);
    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* ================================= */

footer{
    background-color: var(--backgroundtt-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-box{
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
}

.footer-web{
    color: var(--button-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
}

.footer-link{
    color: var(--background-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.38;
    letter-spacing: 0.78px;
    margin-bottom: 20px;
}

.footer-adress{
    color: var(--background-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
    font-style: normal;
}

.footer-item{
    margin-top: 20px;
}

.footer-element{
    margin-top: 9px;
    margin-bottom: 9px;
}

.footer-element:last-child{
    margin-bottom: 0px;
}

.footer-info{
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;

}

.footer-tel{
    color: rgba(255, 255, 255, 0.60);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.42px;
}

.footer-div{
    margin-left: 70px;
}

.footer-subtitle{
    color: var(--background-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}

.footer-lists{
    display: flex;
    gap: 10px;
    margin-top: 16px;
    align-items: center;
    justify-content: center;
}

.footer-links{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-icon);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links:hover{
    background-color: var(--button-color);
}

.footer-icon{
    width: 20px;
    height: 20px;
    fill: var(--background-color);
}

.footer-modal{
    margin-left: 116px;
}

.footer-title{
    color: var(--background-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.footer-fg{
    display: flex;
    align-items: baseline;
}

.footer-input{
    width: 358px;
    height: 50px;
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.30);
    background: rgba(33, 150, 243, 0.00);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    padding-left: 16px;
    margin-top: 20px;
    color: white;
}

.footer-button{
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: var(--button-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--background-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.8;
    letter-spacing: 0.96px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-left: 12px;
    border: none;
}

.footer-svg{
    width: 24px;
    height: 24px;
    fill: var(--background-color);
}

/* ===================модальне вікно======================= */

.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.is-hidden .modal{
    transform: scale(0);
}

.modal{
    width: 528px;
    height: 581px;
    border-radius: 4px;
    background: var(--background-color);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 
                0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
                0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    position: relative;
    padding: 40px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-icon{
    width: 18px;
    height: 18px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:hover{
    fill: var(--button-color);
}

.modal-title{
    width: 448px;
    color: var(--titles-color);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.6px;
    text-align: center;
    margin-bottom: 12px;
}

.modal-label{
    color: var(--text-color);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.12px;
    position: relative;
}

.modal-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: 1px solid rgba(33, 33, 33, 0.20);
    border: none;
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    padding-right: 5px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover{
    border:1px solid var(--button-color);
    /* .modal-svg{
        fill: var(--button-color);
    } */
}

.modal-input:hover + .modal-svg,
.modal-input:focus + .modal-svg{
    fill: var(--button-color);
}

.modal-svg{
    width: 18px;
    height: 18px;
    fill: var(--titles-color);
    position: absolute;
    left: 12px;
    top: 30px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-komment{
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 12px 16px 12px 16px;
    resize: none;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-komment:hover{
    border: 1px solid var(--button-color);
}

.modal-check{
    width: 16px;
    height: 15px;
    fill: var(--titles-color);
}

.modal-div{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.modal-text{
    color: var(--text-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
}

.modal-link{
    color: var(--button-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.modal-box{
    display: flex;
    justify-content: center;
}

.modal-button{
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: var(--button-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--background-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    margin-left: auto;
    margin-right: auto;
}