:root {
  --background-color: #FFF;
  --title-color: #212121;
  --button-color: #2196f3;
  --text-color: #757575;
  --footer-color: #2f303a;
  --footertext-color: #ffffff99;
  --backgroundbuttons-color: #F5F4FA;
  --logo-color: #000;
}

body{
  font-family: Roboto;
}

.header-web{
  color: var(--button-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header-logo{
  color: var(--logo-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.header-massege{
  color: var(--titles-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header-massege:hover{
  color: var(--button-color);
}

.header-link{
  color: var(--text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.28px;
}

.header-link:hover{
  color: var(--button-color);
}

.websites-btn {
  color: var(--title-color);
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: 0.48px;
  background: var(--backgroundbuttons-color);
  box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1),
              0px 1px 2px 0px rgba(0, 0, 0, 0.08), 
              0px 2px 2px 0px rgba(0, 0, 0, 0.12);
}

.websites-btn:hover{
  color: var(--background-color);
  background: var(--button-color);
}

.works-subtitle{
    color: var(--title-color);
    font-size: 18px;
    font-weight: 700;
    line-height: 2;
    letter-spacing: 1.08px;
}

.works-text{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.66;
    letter-spacing: 0.48px;
}

footer{
  background-color: #2F303A;
}

.footer-web{
  color: var(--button-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-link{
  color: var(--background-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.38;
  letter-spacing: 0.78px;
}

.footer-adress{
  color: var(--background-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-info{
  color: rgba(255, 255, 255, 0.60);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}

.footer-tel{
  color: rgba(255, 255, 255, 0.60);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.42px;
}