:root{
    --titles-color: #212121;
    --background-color: #FFF;
    --backgroundtt-color: #2F303A;
    --backgroundbuttons-color: #F5F4FA;
    --text-color: #757575;
    --button-color: #2196F3;
    --footertext-color: #ffffff99;
    --logo-color: #000;
    --icon-color: #AFB1B8;
    --background-icon: #FFFFFF1A;
    --work-color: rgba(47, 48, 58, 0.8);
}







// =================================================портфоліо======================================






:root {
    --background-color: #fff;
    --title-color: #212121;
    --button-color: #2196f3;
    --text-color: #757575;
    --footer-color: #2f303a;
    --footertext-color: #ffffff99;
    --backgroundbuttons-color: #f5f4fa;
    --logo-color: #000;
    --box-color: #eee;
    --line-color: #ECECEC;
    --background-icon: #FFFFFF1A;
  }