.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000080;
    display: flex;
    align-items: center;
    justify-content: center;
}

.is-hidden{
    opacity: 0;
    pointer-events: none;
}

.is-hidden .modal{
    transform: scale(0);
}

.modal{
    width: 528px;
    height: 581px;
    border-radius: 4px;
    background: var(--background-color);
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 
                0px 1px 1px 0px rgba(0, 0, 0, 0.14), 
                0px 2px 1px 0px rgba(0, 0, 0, 0.20);
    position: relative;
    padding: 40px;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.10);
    background-color: transparent;
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-icon{
    width: 18px;
    height: 18px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon:hover{
    fill: var(--button-color);
}

.modal-title{
    width: 448px;
    color: var(--titles-color);
    font-family: Roboto;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: 0.6px;
    text-align: center;
    margin-bottom: 12px;
}

.modal-label{
    color: var(--text-color);
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.16;
    letter-spacing: 0.12px;
    position: relative;
}

.modal-input{
    width: 100%;
    height: 40px;
    border-radius: 4px;
    outline: 1px solid rgba(33, 33, 33, 0.20);
    border: none;
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
    padding-right: 5px;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:hover{
    border:1px solid var(--button-color);
    /* .modal-svg{
        fill: var(--button-color);
    } */
}

.modal-input:hover + .modal-svg,
.modal-input:focus + .modal-svg{
    fill: var(--button-color);
}

.modal-svg{
    width: 18px;
    height: 18px;
    fill: var(--titles-color);
    position: absolute;
    left: 12px;
    top: 30px;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-komment{
    width: 100%;
    height: 120px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.20);
    display: block;
    margin-top: 4px;
    margin-bottom: 10px;
    padding: 12px 16px 12px 16px;
    resize: none;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-komment:hover{
    border: 1px solid var(--button-color);
}

.modal-check{
    width: 16px;
    height: 15px;
    fill: var(--titles-color);
}

.modal-div{
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.modal-text{
    color: var(--text-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.42px;
}

.modal-link{
    color: var(--button-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-skip-ink: none;
    text-decoration-thickness: auto;
    text-underline-offset: auto;
    text-underline-position: from-font;
}

.modal-box{
    display: flex;
    justify-content: center;
}

.modal-button{
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: var(--button-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--background-color);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.96px;
    margin-left: auto;
    margin-right: auto;
}