.work{
    padding-top: 94px;
    padding-bottom: 94px;
    display: none;

    @media screen and (min-width: 1200px){
        display: block;
    }

    &__list{
        display: flex;
        gap: 30px;
    }

    &__item{
        position: relative;
    }

    &__text{
        color: $background-color;
        text-align: center;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        background-color: $work-color;
        width: 100%;
        padding: 27px 0 27px 0;
        position: absolute;
        top: 224px;
    }

    &__img{
        width: 370px;
        height: 294px;
    }

    &__subtitle{
        color: $titles-color;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.16;
        letter-spacing: 1.08px;
        margin-bottom: 56px;
    }
}